@import "../bower_components/sass-bootstrap/lib/bootstrap";

body		{ background-color:#FFFFFF; font-family:verdana, arial; font-size:10pt; color:#000000; }
table		{ background-color:#FFFFFF; font-family:verdana, arial; font-size:10pt; color:#000000; }
a:link, a:visited, a:active {
  // alle linker
  text-decoration:none;
  color:#00A000;
}
a.under:link, a.under-mobil:link, a.under-desktop:link,
a.under:visited, a.under-mobil:visited, a.under-desktop:visited,
a.under:active, a.under-mobil:active, a.under-desktop:active {
  // svart underlink på meny
  color:#000000;
}
a:hover {
  color:#00FF00;
}

.container {
  max-width:950px;
}
.logo {
  @extend .col-sm-2;
  @extend .text-center;
  @extend .hidden-xs;
  background-color: #E6E6E6;
  a:visited, a:link {
    color:#000;
    display:block;
  }
}
.top-img {
  @extend .col-sm-10;
  padding:0;
}
.navigation {
  @extend .col-sm-10;
  @extend .col-sm-offset-2;
  height:20px;
  background-color:#E6E6E6;
}
.meny {
  @extend .col-sm-2;
  @extend .clearfix; // for høyde til div, ettersom face er floating
  background-color:#E6E6E6;
  padding-bottom:30px;
}
.container {
  // rom for topp på dekstop
  @media all and (min-width: $screen-sm-min) {
    padding-top:20px;
  }
}
.over, .under, .over-desktop, .under-desktop, .over-mobil, .under-mobil {
  // link på egen linje
  float:left;
  clear:both;
  // stil
  font-weight:bold;
  @media all and (max-width: $screen-xs-max){
    // større font mobil -> letter å treffe/trykke
    font-size:15px;
  }
}
.over, .language, .over-mobil, .over-desktop {
  // rom over kategorier
  margin-top:10px;
}
.under {
  font-size:10px;
  padding-left:10px;
  @media all and (max-width: $screen-xs-max){
    // større font mobil -> letter å treffe/trykke
    font-size:14px;
  }
}
.under-desktop {
  // bytt rekkefølge på meny for mobil
  font-size:10px;
  padding-left:10px;
}
.under-mobil {
  // bytt rekkefølge på meny for mobil
  display:none; // bare vis via javascript når hele menyen vises
  font-size:14px;
  padding-left:10px;
}
.vis-meny {
  @extend .visible-xs;
  @extend .btn;
  @extend .btn-success;
  @extend .pull-right;
}
.spraklink {
  @media all and (max-width: $screen-xs-max) {
    // bare midtstill for desktop
    text-align:left;
  }
  clear:both;
  padding-top:15px;
  a {
    padding-right:4px;
  }
}
.facebook {
  // link til facebook side i meny
  margin:15px 0;
  float:left;
  a { display:block; }
  a, img, p {
    float:left;
    padding-right:5px;
    margin:0;
  }
  p {
    @media all and (min-width: $screen-sm-min) {
      // liten tekst for dekstop
      font-size:10px;
    }
    @media all and (max-width: $screen-xs-max){
      // vertical align text on mobile
      height:25px;
      padding-top:4px;
    }
  }
}
hr {
  border-color:gray;
  clear:both;
}
.eksterne-linker {
  @extend .hidden-xs;
  text-align:center;
  a {
    display:block; // make picture decide height
    margin-bottom:15px;
  }
}
.innhold {
  @extend .col-sm-10;
}
.tittel {
  @extend .clearfix;
  width:100%;
  h2 {
    @extend .pull-left;
  }
  .engelsk {
    @extend .pull-right;
    margin-top:30px;
  }
}
.kort-info {
  @extend .row;
  padding:0 15px;
  clear:both;
}
.vanskelighetsgrad {
  @extend .pull-left;
}
.vanskelighetsgrad-bilde {
  @extend .pull-left;
  margin-right:10px;
  img {
    height:22px;
    width:22px;
  }
}
.koie-info {
  @extend .row;
  clear:both;
  margin:15px 0;
  padding-top:15px;
  padding-bottom:15px;
  background-color:#e6e6e6;
  border-width:1px;
  border-color:#000;
  border-style:solid;
  li {
    list-style-type: none;
  }
}
.koiebilde-stor {
  @extend .col-sm-6;
  @extend .col-sm-pull-6; // foran tekst (mobile first)
  @extend .col-md-6;
  @extend .col-md-pull-4;
  @media all and (max-width: $screen-md-min) {
    padding-right:15px;
  }
  img {
    @extend .img-responsive;
  }
}
.koiebilde-liten {
  @extend .col-sm-2; // under stort bilde for small
  @extend .col-md-2;
  @extend .col-md-pull-4; // til høyre for stort bilde for medium
  img {
    @extend .img-responsive;
  }
}
@media all and (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
  // stil for småbilder i small
  .koiebilde-liten {
    padding:15px 10px 0 10px;
  }
  .koiebilde-liten:first-child {
    padding-left:15px;
    padding-right:5px;
  }
  .koiebilde-liten:last-child {
    padding-left:5px;
    padding-right:15px;
  }
}
@media all and (min-width: $screen-md-min) {
  .koiebilde-liten {
    padding-left:0;
  }
  .koiebilde-liten:nth-child(2) {
    padding-top:5px;
    padding-bottom:5px;
  }
}
.koie-detaljer {
  @extend .col-sm-6;
  @extend .col-sm-push-6;
  @extend .col-md-4;
  @extend .col-md-push-8;
  padding-left:0;
  @media all and (max-width: $screen-xs-max) {
    padding-left:15px;
  }
  ul {
    padding-left:0;
  }
  li {
    padding-bottom:5px;
  }
}
.kilde-yr {
  // kildehenvisning og link
  @extend .pull-right;
  padding-right:15px;
}
.vaeret {
  // været for koien
  @extend .row;
  margin:0;
  border-style:solid;
  border-width:1px;
  font-size:10px;
}
.vaerdag {
  // været for en dag
  @extend .col-xs-3;
  @extend .text-center;
  h6 {
    font-weight:bold;
  }
  b {
    color:#3366FF;
    padding-left:8px;
    white-space:nowrap;
  }
}
.koiebeskrivelse {
  @extend .row;
  margin:15px 0;
}
.kart {
  @extend .col-xs-12;
  @extend .col-md-7;
  @extend .pull-right;
  padding:0;
  margin-left:15px;
  margin-bottom:10px;
  .kilde {
    @extend .pull-right;
  }
}
#map_canvas {
  width:100%;
  height:350px;
  border:1px solid rgb(0, 0, 0);
  background-color:rgb(229,227,223);
  overflow:hidden;
  -webkit-transform:translateZ(0);
}
.beskrivelse {
  text-align:justify;
}
.utdrag-koiematrise {
  @extend .table-responsive;
  border:2px #00A000 solid;
  padding:2px;
  th,td {
    @extend .text-center;
    border:solid 2px #fff;
    padding:4px;
    white-space:nowrap;
  }
}
