extends layout
block innhold
  // Innhold
  .innhold
    .tittel
      h2 Holmsåkoia
      .engelsk
        a(href='http://org.ntnu.no/koiene/koiene/koiene.php?k=holmsaakoia&l=1')
          img(src='./NTNUI Koiene_files/engelsk.gif', width='27', height='18', border='0', alt='')
    .kort-info
      .vanskelighetsgrad-bilde
        img(src='./NTNUI Koiene_files/koiene_logo.gif')
        img(src='./NTNUI Koiene_files/koiene_logo.gif')
        img(src='./NTNUI Koiene_files/koiene_logo_negate.gif')
        img(src='./NTNUI Koiene_files/koiene_logo_negate.gif')
        img(src='./NTNUI Koiene_files/koiene_logo_negate.gif')
      .vanskelighetsgrad
        font(size='-2')
          b Vanskelighetsgrad 
          | (
          a(href='http://org.ntnu.no/koiene/koiene/koiene.php?k=holmsaakoia&l=0&v=1#A') les mer
          | )
          br
          b › 
          i et stykke fra buss/bil, enkel å finne
    .koie-info
      .koie-detaljer
        ul
          li: b Sylane og Tydal
          li
            img(src='./NTNUI Koiene_files/sengeplasser.gif')
            |  Sengeplasser: 20 - 
            b: a(href='http://org.ntnu.no/koiene/ledigekoier.php') ledig?
          li
            img(src='./NTNUI Koiene_files/terreng.gif')
            |  Terreng: skog
          li
            img(src='./NTNUI Koiene_files/fjell.gif')
            |  Høyde: 496m
          li
            img(src='./NTNUI Koiene_files/gps.gif')
            |  32V, 0633739, 6997975
          li
            img(src='./NTNUI Koiene_files/kart.gif')
            |  Kartblad:
            b: a(href='http://org.ntnu.no/koiene/tips.php?p=3#1') Meråker-Tydal 108
          li
            img(src='./NTNUI Koiene_files/yr.gif')
            |  Værvarsel på:
            a(href='http://www.yr.no/sted/Norge/S%C3%B8r-Tr%C3%B8ndelag/Tydal/Holms%C3%A5koia/')
              b yr.no
      .koiebilde-stor
        a(href='http://org.ntnu.no/koiene/koiene/bilder/holmsaakoia1.jpg')
          img(src='img/holmsaakoia1.jpg')
      .clearfix.visible-sm
      //- legg småbilder i egen container slik at vi kan bruke first-child css selector
      div
        .koiebilde-liten
          a(href='http://org.ntnu.no/koiene/koiene/bilder/holmsaakoia2.jpg')
            img(src='img/holmsaakoia2.jpg')
        .koiebilde-liten
          a(href='http://org.ntnu.no/koiene/koiene/bilder/holmsaakoia3.jpg')
            img(src='img/holmsaakoia3.jpg')
        .koiebilde-liten
          a(href='http://org.ntnu.no/koiene/koiene/bilder/holmsaakoia4.jpg')
            img(src='img/holmsaakoia4.jpg')
    .row
      .kilde-yr Kilde: 
        a(href='http://www.yr.no/sted/Norge/S%C3%B8r-Tr%C3%B8ndelag/Tydal/Holms%C3%A5koia/') yr.no
    .vaeret
      .vaerdag
        h6 Tirsdag 19. nov 
        img(src='./NTNUI Koiene_files/04.png', width='25', height='25')
        b -4°
        img(src='./NTNUI Koiene_files/vindpil.0000.160.png', width='25', height='25', alt='Flau vind, 1 m/s')
      .vaerdag
        h6 Onsdag 20. nov 
        img(src='./NTNUI Koiene_files/04.png', width='25', height='25')
        b -5°
        img(src='./NTNUI Koiene_files/vindpil.0075.155.png', width='25', height='25', alt='Laber bris, 7 m/s')
      .vaerdag
        h6 Torsdag 21. nov 
        img(src='./NTNUI Koiene_files/04.png', width='25', height='25')
        b -3°
        img(src='./NTNUI Koiene_files/vindpil.0000.160.png', width='25', height='25', alt='Flau vind, 2 m/s')
      .vaerdag
        h6 Fredag 22. nov 
        img(src='./NTNUI Koiene_files/03d.png', width='25', height='25')
        b -4°
        img(src='./NTNUI Koiene_files/vindpil.0050.170.png', width='25', height='25', alt='Lett bris, 4 m/s')
    .koiebeskrivelse
      h3 Koiebeskrivelse
      .kart
        .kilde Kilde: 
          a(href='http://www.statkart.no/') Statens kartverk
        #map_canvas
      .beskrivelse
        | Holmsåkoia kom inn på nettet høsten 1974 etter en kort og hektisk dugnad. Koia står igjen etter tømmerhoggere som herja i områdene rundt. Tidligere var det også en stall til koia, men denne brant ned i april 2002 etter at det ble forsøkt å steke kalkun i badstuen. Forøvrig inneholdt stallen utedo og vedskjul. Vedskjul og utedo ble bygget opp igjen sommeren 2002. Etter iherdig dugnadsinnsats sto ei ny badstue klar til julegildet 2004. Den fikk navnet "Nansen og Johansen". I elva rett nedenfor badstua er det laget en badekulp, så forholdene er perfekte for ei skikkelig badstuøkt. I 2007 ble loftet bygget ut med ekstra sengeplasser og koia er således blitt en av Koienes største med 20 sengeplasser, og også koienes eneste med piano! Et fantastisk ustemt sådan.
        br
        br
        | Koia ligger i den vestlige delen av Sylane og turterrenget er storslagent så snart en kommer seg ut av skogen. Fongen på 1441 moh er godt innenfor rekkevidde for de som higer etter topper, og så vel Ruten som Tronshatten kan være andre dagsturmål. En drøy kilometer unna koia ligger Gammelvollsjøen hvor det er mulig å prøve fiskelykka. Holmsåkoia kan dessuten tjene som utgangspunkt for lengre turer i området. En kan gå til Hognabu, Stabburet eller legge turen inn i Sylane hvor Turistforeningen har flere hytter.
      br
      h3 Veibeskrivelse
      p(align='justify')
        | For å komme seg til Holmsåkoia er det lettest å ta buss eller kjøre til landbruksmuseet som ligger på Brekka, ca 2 kilometer øst for Tydal Kirke. Tar en buss til Tydal, vet bussjåføren hvor museet er. Deretter kan en følge veien langs Lødølja.
        br
        br
        | Fra museet er det drøyt 6 kilometer å gå til koia og det er vei man kan følge helt til dørstokken. Pga. veibom en liten kilometer fra museet (som vi ikke har nøkkel til) må man likevel parkere ved museet. Veien er ikke brøytet vinterstid, så husk ski eller truger når det er snø. Koia ligger på et nes ut i elva Holmsåa. Det går en kraftlinje 20 meter fra vedskjulet.
        br
      br
      h3 Utdrag av koiematrisa
      p.visible-xs.pull-right(style="font-size:10px") (Kan scrolles sidelengs)
      .utdrag-koiematrise
        table
          tbody
            tr(bgcolor='#E6E6E6')
              th(width='80', height='35') FACTS
              td(rowspan='2', bgcolor='#BBBBBB', width='2')  
              th(width='55', height='25', align='center', valign='middle')
                font(size='-2')
                  | Senge
                  br
                  | plasser
              th(width='55', height='25', align='center', valign='middle')
                font(size='-2')
                  | Bord
                  br
                  | plasser
              th(width='55', height='25', align='center', valign='middle')
                font(size='-2') År
              th(width='55', height='25', align='center', valign='middle')
                font(size='-2') Terreng
              th(width='55', height='25', align='center', valign='middle')
                font(size='-2') Sykkel
              th(width='55', height='25', align='center', valign='middle')
                font(size='-2')
                  | Topp
                  br
                  | tur
              th(width='55', height='25', align='center', valign='middle')
                font(size='-2')
                  | Jakt/
                  br
                  | Fiske
              th(width='55', height='25', align='center', valign='middle')
                font(size='-2') Gitar
              th(width='55', height='25', align='center', valign='middle')
                font(size='-2')
                  | Vaffel
                  br
                  | jern
              th(width='165', height='25', align='center', valign='middle')
                font(size='-2') Spesialiteter
            tr
              td(width='80', height='25', align='left', valign='middle')
                font(size='-2')
                  b
                    a(href='./NTNUI Koiene_files/NTNUI Koiene.html') Holmsåkoia
              td(width='55', height='25', align='center', valign='middle')
                font(size='-2') 20
              td(width='55', height='25', align='center', valign='middle')
                font(size='-2') 25
              td(width='55', height='25', align='center', valign='middle')
                font(size='-2') 1974
              td(width='55', height='25', align='center', valign='middle')
                font(size='-2') S
              td(width='55', height='25', align='center', valign='middle')
                font(size='-2') x
              td(width='55', height='25', align='center', valign='middle')
                font(size='-2') x
              td(width='55', height='25', align='center', valign='middle')
                font(size='-2') -
              td(width='55', height='25', align='center', valign='middle')
                font(size='-2') x
              td(width='55', height='25', align='center', valign='middle')
                font(size='-2') -
              td(width='165', height='25', align='left', valign='middle')
                font(size='-2') badstue, piano
        br
        br
        table(cellpadding='0', cellspacing='2', border='0')
          tbody
            tr(bgcolor='#E6E6E6')
              th(rowspan='3', width='80')
                | REISE-
                br
                | TID
              td(rowspan='4', bgcolor='#BBBBBB', width='2')  
              th(colspan='5', height='22')
                font(size='-2') Privatbil
              td(rowspan='4', bgcolor='#BBBBBB', width='2')  
              th(colspan='6')
                font(size='-2') Offentlig transport
            tr(bgcolor='#E6E6E6')
              th(rowspan='2', width='60')
                font(size='-2')
                  | Kjøre
                  br
                  | tid
              th(colspan='2', height='15')
                font(size='-2') Sommer
              th(colspan='2')
                font(size='-2') Vinter
              th(rowspan='2', width='60')
                font(size='-2')
                  | Trans
                  br
                  | port
              th(rowspan='2', width='60')
                font(size='-2')
                  | Kjøre
                  br
                  | tid
              th(colspan='2')
                font(size='-2') Sommer
              th(colspan='2')
                font(size='-2') Vinter
            tr(bgcolor='#E6E6E6')
              th(width='60', height='29')
                font(size='-2')
                  | Gang
                  br
                  | tid
              th(width='60', height='29')
                font(size='-2')
                  | Total
                  br
                  | reise
              th(width='60', height='29')
                font(size='-2')
                  | Gang
                  br
                  | tid
              th(width='60', height='29')
                font(size='-2')
                  | Total
                  br
                  | reise
              th(width='60', height='29')
                font(size='-2')
                  | Gang
                  br
                  | tid
              th(width='60', height='29')
                font(size='-2')
                  | Total
                  br
                  | reise
              th(width='60', height='29')
                font(size='-2')
                  | Gang
                  br
                  | tid
              th(width='60', height='29')
                font(size='-2')
                  | Total
                  br
                  | reise
            tr
              td(width='80', height='25', align='left', valign='middle')
                font(size='-2')
                  b
                    a(href='./NTNUI Koiene_files/NTNUI Koiene.html') Holmsåkoia
              td(align='center', valign='middle')
                font(size='-2') 2:30
              td(align='center', valign='middle')
                font(size='-2') 2:00
              td(align='center', valign='middle')
                font(size='-2') 4:30
              td(align='center', valign='middle')
                font(size='-2') 2:00
              td(align='center', valign='middle')
                font(size='-2') 4:30
              td(align='center', valign='middle')
                font(size='-2') buss
              td(align='center', valign='middle')
                font(size='-2') 2:30
              td(align='center', valign='middle')
                font(size='-2') 2:00
              td(align='center', valign='middle')
                font(size='-2') 4:30
              td(align='center', valign='middle')
                font(size='-2') 2:00
              td(align='center', valign='middle')
                font(size='-2') 4:30
        br
        br
        table(cellpadding='0', cellspacing='2', border='0')
          tbody
            tr(bgcolor='#E6E6E6')
              th(width='80', height='35')
                | TRANS-
                br
                | PORT
              td(rowspan='2', bgcolor='#BBBBBB', width='2')  
              th(width='43')
                font(size='-2') Alt.
              th(width='205')
                font(size='-2') Transport
              th(width='205')
                font(size='-2') Rute over
              th(width='205')
                font(size='-2') Avstigning
            tr
              td(width='80', height='25', align='left', valign='middle')
                font(size='-2')
                  b
                    a(href='./NTNUI Koiene_files/NTNUI Koiene.html') Holmsåkoia
              td(align='center')
                font(size='-2')
                  | 1
                  br
                  br
                  br
              td(align='left', valign='middle')
                font(size='-2')
                  | Regionbuss 310
                  br
                  | Regionbuss 330
                  br
                  | (Regionbuss 535)
              td(align='left', valign='middle')
                font(size='-2')
                  | Trondheim - Stjørdal
                  br
                  | Stjørdal - Selbu - Tydal
                  br
                  | (Selbu - Stugudal)
              td(align='left', valign='middle')
                font(size='-2')
                  | Stjørdal
                  br
                  | Brekka (museet)
                  br
                  br
      br
      | Sjekk 
      b
        a(href='http://org.ntnu.no/koiene/koiematrisa.php') Koiematrisa
      |  for mer informasjon og sammenligning med andre koier.
      br
      br
      br
      h3 Parkering
      p(align='justify') Sommer og vinter: Parkering ved museet.
      a(name='A')
        br
