!!! 5
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    //- skaler til mobile enheter
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(name='robots', content='index, follow')
    meta(http-equiv='content-style-type', content='text/css')
    //- stilark
    link(rel='stylesheet', href='css/stil.css')
    link(rel='stylesheet', href='./NTNUI Koiene_files/css')
    style(type='text/css').
      .gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}
      @media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}
      .gm-style div,.gm-style span,.gm-style label,.gm-style a{font-family:Roboto,Arial,sans-serif;font-size:11px;font-weight:400}.gm-style div,.gm-style span,.gm-style label{text-decoration:none}.gm-style img{border:0;padding:0;margin:0}
    title NTNUI Koiene
    // Piwik 
    script(type='text/javascript', style='').
      var pkBaseURL = (("https:" == document.location.protocol) ? "https://org.ntnu.no/koiene/piwik/" : "http://org.ntnu.no/koiene/piwik/");
      document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
    script(src='./NTNUI Koiene_files/piwik.js', type='text/javascript')
    script(type='text/javascript').
      try {
      var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
      piwikTracker.trackPageView();
      piwikTracker.enableLinkTracking();
      } catch( err ) {}
    noscript
      | <p><img src="http://org.ntnu.no/koiene/piwik/piwik.php?idsite=1" border="0" alt=""></p>
    // End Piwik Tracking Code 
    script(type="text/javascript", src="http://maps.googleapis.com/maps/api/js?sensor=false")
    script.
      function StatkartMapType() {
        this.tileSize = new google.maps.Size(256,256);
        this.maxZoom = 19;
        this.getTile = function(coord, zoom, ownerDocument) {
          var div = ownerDocument.createElement('DIV');
          div.style.width = this.tileSize.width + 'px';
          div.style.height = this.tileSize.height + 'px';
          div.style.backgroundImage = "url(http://opencache.statkart.no/gatekeeper/gk/gk.open_gmaps?layers=topo2&zoom=" + zoom + "&x=" + coord.x + "&y=" + coord.y + ")";
          return div;
        };
      }
      function initialize() {
        var mapOptions = {
          zoom: 14,
          center: new google.maps.LatLng(63.08642,11.64870),
          mapTypeId: google.maps.MapTypeId.TERRAIN,
          zoomControl: true,
          zoomControlOptions: {style: google.maps.ZoomControlStyle.SMALL},
          disableDefaultUI: false,
          scrollwheel: false,
          scaleControl: true,
          panControl: false,
          mapTypeControl: false,
          streetViewControl: false,
          draggable: false // for touch
        };
        var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
        var kmlLayer = new google.maps.KmlLayer('http://org.ntnu.no/koiene/koiene/maps/koiene.kml',{suppressInfoWindows: false, map: map, preserveViewport: true});
        kmlLayer.setMap(map);
        map.mapTypes.set('topo2',new StatkartMapType());
        map.setMapTypeId('topo2');
      }
    script(type='text/javascript', src="http://code.jquery.com/jquery-1.10.1.min.js")
    script(type='text/javascript', src='js/koiene.js')
  body
    .container
      .row
        //- Koielogo toppen venstre
        .logo
          a(href='http://org.ntnu.no/koiene/index.php')
            img(src='./NTNUI Koiene_files/koiene_logo.gif')
            b NTNUI Koiene
        //- Toppbilde
        .top-img
          img.img-responsive(src='./NTNUI Koiene_files/bildermiks.jpg')
      .row
        // Navigasjonslinje topp
        .navigation
          | ../
          a(href='http://org.ntnu.no/koiene/index.php') hovedside
          | /Koiene/Holmsåkoia
      .row
        //- Meny venstre
        .meny
          a.over(href='http://org.ntnu.no/koiene/omkoiene.php') Om koiegruppa
          a.under.hidden-xs(href='http://org.ntnu.no/koiene/turprogram.php') Turprogram
          a.under.hidden-xs(href='http://org.ntnu.no/koiene/veddugnad.php') Veddugnad
          a.under.hidden-xs(href='http://org.ntnu.no/koiene/epostliste.php') Epostliste
          a.under.hidden-xs(href='http://org.ntnu.no/koiene/oldschool.php') Old School
          a.under.hidden-xs(href='http://org.ntnu.no/koiene/kontakt.php') Kontakt oss!
          a.over(href='http://org.ntnu.no/koiene/koiene/index.php') Koiene
          a.under.hidden-xs(href='http://org.ntnu.no/koiene/oversiktskart.php') Oversiktskart
          a.under.hidden-xs(href='http://org.ntnu.no/koiene/koiematrisa.php') Koiematrisa
          a.under.hidden-xs(href='http://org.ntnu.no/koiene/koietilkoie.php') Koie til Koie
          a.under.hidden-xs(href='http://org.ntnu.no/koiene/tips.php') Tips & Tricks
          a.under.hidden-xs(href='http://org.ntnu.no/koiene/jaktfiske.php') Jakt & Fiske
          a.over-desktop.hidden-xs(href='http://org.ntnu.no/koiene/koiebruk.php') Hvordan leie?
          a.under-desktop.hidden-xs(href='http://org.ntnu.no/koiene/ledigekoier.php') Ledige koier
          a.over-mobil.visible-xs(href='http://org.ntnu.no/koiene/ledigekoier.php') Ledige koier
          a.under-mobil(href='http://org.ntnu.no/koiene/koiebruk.php') Hvordan leie?
          a.under.hidden-xs(href='http://org.ntnu.no/koieneres/alle/onsdagsko.php') Popularitet
          a.under.hidden-xs(href='http://org.ntnu.no/koieneres/alle/statistikk.php') Statistikk
          a.under.hidden-xs(href='http://org.ntnu.no/koiene/ekoieboka/index.php') Digital koiebok
          a.under.hidden-xs(href='http://org.ntnu.no/koiene/termsofuse.php') Terms of use
          a.over(href='http://org.ntnu.no/koiene/faq.php') FAQ
          a.over(href='https://picasaweb.google.com/112172516519597975801', target='_blank') Turbilder
          a.vis-meny() Vis full meny
          .spraklink
            a(href='http://org.ntnu.no/koiene/engelsk.php')
              img(src='./NTNUI Koiene_files/engelsk.gif', width='27', height='18', alt='engelsk')
            a(href='http://org.ntnu.no/koiene/fransk.php')
              img(src='./NTNUI Koiene_files/fransk.gif', width='27', height='18', alt='fransk')
            a(href='http://org.ntnu.no/koiene/tysk.php')
              img(src='./NTNUI Koiene_files/tysk.gif', width='27', height='18', alt='tysk')
          .facebook
            a(href='http://www.facebook.com/pages/NTNUI-Koiene/349959341712320', target='_blank')
              img(src='./NTNUI Koiene_files/facebook.gif')
              p Følg oss på 
              p Facebook
          .eksterne-linker
            hr
            a(href='http://www.ntnui.no/', target='_blank')
              img(src='./NTNUI Koiene_files/ntnui_2_5x1.gif', alt='http://www.ntnui.no')
            a(href='http://www.studenterhytta.org/', target='_blank')
              img(src='./NTNUI Koiene_files/hyttalogo.jpg', alt='http://www.studenterhytta.org')
        block innhold
