html
  head
    link(rel='stylesheet', href='bower_components/sass-bootstrap/dist/css/bootstrap.css')
  body
    table.table.table-bordered.table-striped
      tr
        th Privatbil
        th Offentlig transport
      tr
        th Kjøretid
        th
          table
            tr: th Sommer
            tr
              th Gangtid
              th Totalt
        th
          table
            tr: th Vinter
            tr
              th Gangtid
              th Totalt
